//##############################################################################################################
//                                                   VARIABLES                                                 #
//##############################################################################################################

$dark-grey        : #23241F;
$dark-blue        : #02263C;
$input-background : #02344F;
$medium-blue      : #034163;
$blue             : #5995ED;
$bright-blue      : #75DDDD;
$red              : #A91101;
$orange           : #FB8500;
$yellow           : #FFB703;
$cream            : #FFEBB8;
$white            : #E6E6FA;

$font             : 'Dosis', sans-serif;
$font-mono        : 'Ubuntu Mono', sans-serif;
$font-weight      : 600; // 400 regular 500 medium 600 semi-bold 700 bold 800 extra-bold
$font-bold      : 730;

@font-face {
	src         : url('/static/font/Dosis-VariableFont_wght.ttf') format('truetype');
	font-family : Dosis;
	font-weight : 400 800;
	font-style  : normal;
}

@font-face {
	src         : url('/static/font/UbuntuMono-Regular.ttf') format('truetype');
	font-family : 'Ubuntu Mono';
	font-weight : 400;
	font-style  : normal;
}

@font-face {
	src         : url('/static/font/UbuntuMono-Italic.ttf') format('truetype');
	font-family : 'Ubuntu Mono';
	font-weight : 400;
	font-style  : italic;
}

@font-face {
	src         : url('/static/font/UbuntuMono-Bold.ttf') format('truetype');
	font-family : 'Ubuntu Mono';
	font-weight : 700;
	font-style  : normal;
}

@font-face {
	src         : url('/static/font/UbuntuMono-BoldItalic.ttf') format('truetype');
	font-family : 'Ubuntu Mono';
	font-weight : 700;
	font-style  : italic;
}

//##############################################################################################################
//                                                 ALL ELEMENTS                                                #
//##############################################################################################################

* {
	margin         : 0;
	padding        : 0;
	box-sizing     : border-box;
	font-size      : clamp(10px, calc(6px + .45vw), 32px);
	font-weight    : $font-weight;
	letter-spacing : .07ch;
	
	a {
		text-decoration : none;
		color           : $blue;
		cursor          : pointer;
		
		&:hover {
			color : $orange;
		}
	}
	
	button {
		appearance : none;
		outline    : none;
		background : none;
		border     : none;
	}
}

//##############################################################################################################
//                                               GENERIC CLASSES                                               #
//##############################################################################################################


.abs {
	position : absolute;
}

.relative {
	position : relative;
}

.full {
	top    : 0;
	left   : 0;
	right  : 0;
	bottom : 0;
}

.on-top {
	z-index : 100;
}

.display-none {
	display : none;
}

.bold {
	font-weight : 800;
}

//##############################################################################################################
//                                               COMMON ELEMENTS                                               #
//##############################################################################################################


.flash {
	position        : fixed;
	top             : 0;
	width           : 100%;
	height          : 5rem;
	transform       : translateY(-101%);
	transition      : transform 200ms ease-out 20ms;
	display         : flex;
	justify-content : center;
	
	span.flash-message {
		height           : 100%;
		padding          : 1.65rem 5rem;
		border-radius    : 0 0 .6rem .6rem;
		border           : 4px solid $orange;
		border-top       : none;
		background-color : $cream;
		color            : $medium-blue;
		font-size        : 1.7rem;
		font-weight      : 650;
	}
}

.alert {
	margin           : 1.2rem 0;
	padding          : 1rem 2.5rem;
	font-size        : 1.4rem;
	font-weight      : 600;
	text-align       : center;
	background-color : $yellow;
	border           : $red solid 3px;
	border-radius    : .4rem;
	color            : $red;
	
	span {
		color     : $red;
		font-size : 1.4rem;
	}
	
	span.search-text {
		color       : $red;
		font-weight : 800;
		font-size   : 1.4rem;
	}
}

.separator {
	width            : 100%;
	height           : 4px;
	border-radius    : 2px;
	background-color : $blue;
	margin           : 2.5rem 0;
	
	&.white {
		background-color : $white;
	}
}

.v-separator {
	height           : 100%;
	width            : 4px;
	border-radius    : 2px;
	background-color : $blue;
	
	&.white {
		background-color : $white;
	}
}

.blue-filter-light {
	background-color : adjust-color($dark-blue, $alpha: -.85);
	z-index          : 4;
}

.blue-filter-heavy {
	background-color : adjust-color($dark-blue, $alpha: -.10);
	z-index          : 4;
}

.blur {
	backdrop-filter : blur(1.5px);
}

.form-button,
.button {
	display          : flex;
	justify-content  : center;
	align-items      : center;
	border-radius    : .5rem;
	padding          : .7rem 2rem;
	appearance       : none;
	outline          : none;
	font-size        : 1.3rem;
	cursor           : pointer;
	transition       : all 200ms ease-out 20ms;
	height           : fit-content;
	width            : 100%;
	
	// blue button (previously)
	background-color : $blue;
	color            : $white;
	border           : none;
	
	&:hover:not(.disabled, &[disabled]) {
		background-color : $bright-blue;
		color            : $dark-blue;
	}
	
	// end of blue button (previously)
	
	&.white {
		border           : 1.5px solid $blue;
		background-color : $white;
		color            : $blue;
		
		&:hover:not(.disabled, &[disabled]) {
			background-color : $blue;
			color            : $white;
		}
	}
	
	&.orange {
		border           : 1.5px solid $red;
		background-color : $white;
		color            : $red;
		
		&:hover:not(.disabled, &[disabled]) {
			border           : 1.5px solid $red;
			background-color : $orange;
			color            : $red;
		}
	}
	
	&.disabled, &[disabled] {
		background-color : $medium-blue;
		color            : $blue;
		border           : 1.5px solid $blue;
		cursor           : not-allowed;
	}
	
	&.big-btn {
		border-radius : .7rem;
		padding       : 1.7rem 3.4rem;
		font-size     : 2rem;
	}
}

.social-elem {
	display     : flex;
	align-items : center;
	gap         : .5rem;
	height      : 1.6rem;
	cursor      : pointer;
	transition  : color 200ms ease-out 20ms;
	
	img.social-icon {
		height : 100%;
	}
	
	span.social-name {
		font-size : 1.12rem;
	}
	
	&:hover {
		color : $orange;
		
		img.social-icon {
			animation : 650ms normal 1 vibrate;
		}
	}
}

@keyframes vibrate {
	15% {
		transform : rotate(-30deg);
	}
	30% {
		transform : rotate(30deg);
	}
	45% {
		transform : rotate(-30deg);
	}
	60% {
		transform : rotate(30deg);
	}
	75% {
		transform : rotate(-30deg);
	}
	90% {
		transform : rotate(30deg);
	}
	100% {
		transform : rotate(0);
	}
}

//##############################################################################################################
//                                                BASIC LAYOUT                                                 #
//##############################################################################################################


body {
	background-color : $dark-blue;
	font-family      : $font;
	font-weight      : $font-weight;
	color            : $white;
	
	.page-ctn {
		min-height      : 100dvh;
		display         : flex;
		flex-direction  : column;
		justify-content : space-between;
	}
}

//##############################################################################################################
//                                                   HEADER                                                    #
//##############################################################################################################

header.header-ctn {
	height  : 12rem;
	padding : 2.5rem 10% 1.2rem 10%;
	
	.header {
		display         : flex;
		justify-content : space-between;
		align-items     : center;
		
		.name {
			width     : max-content;
			font-size : 1.8rem;
		}
		
		nav.header-nav {
			display : flex;
			gap     : 2.5rem;
			
			a.header-link {
				font-size  : 1.4rem;
				color      : $blue;
				transition : color 200ms ease-out 20ms;
				
				&:hover {
					color : $orange;
				}
			}
		}
		
		form.search-bar {
			display         : flex;
			justify-content : space-between;
			align-items     : center;
			flex            : 1 2 initial;
			width           : calc(1.7rem + 9ch);
			height          : 2.2rem;
			margin-left     : calc(calc(28rem - 1.7rem) - 9ch);
			margin-right    : 3.6rem;
			transition      : border 200ms ease-in-out 50ms;
			overflow        : hidden;
			
			.search-label {
				cursor    : pointer;
				color     : $blue;
				font-size : 1.2rem;
			}
			
			button.search-btn {
				flex-shrink  : 0;
				padding      : 0;
				width        : 1.7rem;
				aspect-ratio : 1;
				background   : none;
				border       : none;
				outline      : none;
				appearance   : none;
				cursor       : pointer;
				
				img.search-icon {
					object-fit      : contain;
					object-position : center;
					width           : 100%;
					height          : 100%;
				}
			}
			
			input#search-input.search-input {
				width       : calc(calc(100% - 1.7rem) - 9ch);
				appearance  : none;
				border      : none;
				background  : none;
				outline     : none;
				font-family : $font;
				color       : $blue;
				font-weight : bold;
				font-size   : 1.2rem;
			}
			
			&:has(input#search-input.search-input:focus, input#search-input.search-input:focus-within, input#search-input.search-input:focus-visible, input#search-input.search-input:active, input#search-input.search-input:valid) {
				border-radius : .6rem;
				border        : 1.5px solid $orange;
				min-width     : 6.3rem;
				width         : 28rem;
				margin-left   : 0;
				padding       : .5rem 1.3rem;
				
				input#search-input.search-input {
					outline    : none;
					appearance : none;
					border     : none;
					background : none;
				}
				
				.search-label {
					display : none;
				}
			}
		}
		
		.header-social {
			display : flex;
			gap     : 1.2rem;
		}
	}
}

//##############################################################################################################
//                                               TEMPLATE PAGE                                                 #
//##############################################################################################################

main.template-ctn {
	display        : flex;
	flex-direction : column;
	align-items    : center;
}

//##############################################################################################################
//                                                   FOOTER                                                    #
//##############################################################################################################

footer.footer-ctn {
	height          : 12rem;
	padding         : 2.5rem 10% 1.2rem 10%;
	display         : flex;
	justify-content : space-between;
	align-items     : center;
	
	.copyrights {
		font-size : 1rem;
		color     : $blue;
	}
	
	nav.footer-links {
		display : flex;
		gap     : 2.5rem;
		
		a.footer-link {
			font-size  : 1.2rem;
			color      : $blue;
			transition : color 200ms ease-out 20ms;
			
			&:hover {
				color : $orange;
			}
		}
	}
	
	.footer-social {
		display : flex;
		gap     : 1.2rem;
	}
}
